{% extends 'base.html' %}

{% block content %}
                    <!-- Page Heading -->
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-info">익명게시판</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>글제목</th>
                                            <th>작성 날짜</th>
                                            <th>작성자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- views.py의 posts(쿼리셋객체)로 반복 -->
                                        {% for post in posts %}
                                        <tr>
                                            <!-- models.py > Post 클래스 > views.py의 posts쿼리셋-->
                                            <td><a href="{% url 'detail' post.id %}">{{ post.title }}</a></td>
                                            <td>{{ post.date }}</td>
                                            <td>익명</td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- /.container-fluid -->
<!-- login 해야만 글작성 가능 -->
{% if user.is_authenticated  %}
    <a href="{% url 'postcreate' %}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">글쓰기</span>
    </a>
{% endif %}

<!-- Pagination-->
{% if posts.has_previous %}
<a href="?page=1 "> 1페이지 </a>
<a href="?page={{posts.previous_page_number}}">이전 페이지</a> <!-- 이전페이지로 가기-->
{% endif %}

<span> {{ posts.number }} </span> <!-- 현재 페이지 -->
<span> / </span>
<span> {{ posts.paginator.num_pages }}</span> <!-- 총페이지수 -->

{% if posts.has_next %}
<a href="?page={{posts.next_page_number}}">다음 페이지</a>
<a href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
{% endif %}


{% endblock %}